.fixed-menu {
  position: fixed;
  top: 50%;
  right: rem(46px);
  transform: translateY(-50%);
  z-index: 99;
  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  &--active {
    & .fixed-menu__dot {
      border-color: $white;
      box-shadow: 0 0 2px $black;
    }
  }
}

.fixed-menu__dot {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: rem(10px);
  position: relative;
  display: block;
  text-decoration: none;

  &::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 2px $black;
  }

  &:last-child {
    margin-bottom: 0;
  }
}