.main {
  &__container-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__section {
    background: url('../img/bg/pattern-header.png') right bottom / contain no-repeat;
    background-color: #61c4d9;
    position: relative;
    padding-bottom: rem(50px);

    @include tablets {
      background: url('../img/bg/pattern-header.png') right top / 75% no-repeat #61c4d9;
    }
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: rem(345px);
      position: absolute;
      bottom: -50px;
      background: url('../img/bg/leaves-header.png') center center / contain no-repeat;
      @include tablets {
        display: none;
      }
    }
  }

  &__content-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include tablets {
      width: 90%;
      text-align: center;
      margin: 0 auto;
    }
  }

  &__content {
    flex: .5;
    margin: auto 0;
  }

  &__title h1 {
    font-size: rem(60px);
    font-family: $bold;
    text-transform: uppercase;
    margin-bottom: rem(12px);
    line-height: 1;

    @include phones {
      font-size: rem(46px);
    }

    @include small-phones {
      font-size: rem(36px);
      margin-bottom: rem(8px);
    }
  }

  &__desc {
    font-size: rem(21px);
    margin-bottom: rem(32px);
    width: 75%;

    @include tablets {
      width: 100%;
      padding: 0 23%;
    }

    @include phones {
      padding: 0 7%;
    }

    @include small-phones {
      padding: 0 0;
      margin-bottom: rem(12px);
    }
  }

  &__link {
    display: inline-block;
    font-family: $extra;
    color: #0f5a47;
    font-size: rem(19px);
    text-transform: uppercase;
    background-color: #fff;
    padding: rem(18px) rem(35px);
    border-radius: rem(40px);
    position: relative;
    z-index: 1;
  }

  &__bars {
    display: block;
    max-width: 100%;
    height: 100%;
  }

  &__picture {
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: -51px;
    transform: translateY(-50%);

    @include tablets {
      transform: initial;
      position: relative;
      top: rem(-20px);
      right: 0;
      width: 100%;
      height: 100%;
      &::after {
        content: '';
        width: 100%;
        height: 86%;
        position: absolute;
        top: rem(62px);
        left: 0;
        background: url('../img/bg/tablets-bg-head.png') center center / contain no-repeat;

        @include phones {
          top: rem(65px);
        }
      }
    }

    @include phones {
      height: 70%;
    }

    @include small-phones {
      height: 50%;
    }
  }
}
.features {
  &__list {
    display: flex;
    justify-content: space-between;

    @include phones {
      margin-left: rem(-10px);
    }
  }
  &__item {
    display: flex;
    margin-right: rem(28px);
    &:last-child {
      margin-right: 0;
    }

    @include small-phones {
      margin-right: 0;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }
  }
  &__pic {
    margin-right: rem(10px);
    width: 100%;
  }
  &__img {
    display: block;
  }
}

.features__icon {
  width: rem(44px);
  height: rem(41px);
  fill:#61c4d9;
  stroke:#b0f7ff;
}
