@font-face {
	font-family: 'AlegreyaSans-Black';
	src: local('AlegreyaSans-Black'), local('AlegreyaSans-Black'),
		url('../fonts/AlegreyaSans-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'AlegreyaSans-BlackItalic';
	src: local('AlegreyaSans-BlackItalic'), local('AlegreyaSans-BlackItalic'),
		url('../fonts/AlegreyaSans-BlackItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'AlegreyaSans-Bold';
	src: local('AlegreyaSans-Bold'), local('AlegreyaSans-Bold'),
		url('../fonts/AlegreyaSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AlegreyaSans-BoldItalic';
	src: local('AlegreyaSans-BoldItalic'), local('AlegreyaSans-BoldItalic'),
		url('../fonts/AlegreyaSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'AlegreyaSans-ExtraBold';
	src: local('AlegreyaSans-ExtraBold'), local('AlegreyaSans-ExtraBold'),
		url('../fonts/AlegreyaSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'AlegreyaSans-ExtraBoldItalic';
	src: local('AlegreyaSans-ExtraBoldItalic'), local('AlegreyaSans-ExtraBoldItalic'),
		url('../fonts/AlegreyaSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'AlegreyaSans-Italic';
	src: local('AlegreyaSans-Italic'), local('AlegreyaSans-Italic'),
		url('../fonts/AlegreyaSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'AlegreyaSans-Light';
	src: local('AlegreyaSans-Light'), local('AlegreyaSans-Light'),
		url('../fonts/AlegreyaSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'AlegreyaSans-LightItalic';
	src: local('AlegreyaSans-LightItalic'), local('AlegreyaSans-LightItalic'),
		url('../fonts/AlegreyaSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'AlegreyaSans-Medium';
	src: local('AlegreyaSans-Medium'), local('AlegreyaSans-Medium'),
		url('../fonts/AlegreyaSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'AlegreyaSans-MediumItalic';
	src: local('AlegreyaSans-MediumItalic'), local('AlegreyaSans-MediumItalic'),
		url('../fonts/AlegreyaSans-MediumItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'AlegreyaSans-Regular';
	src: local('AlegreyaSans-Regular'), local('AlegreyaSans-Regular'),
		url('../fonts/AlegreyaSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'AlegreyaSans-Thin';
	src: local('AlegreyaSans-Thin'), local('AlegreyaSans-Thin'),
		url('../fonts/AlegreyaSans-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'AlegreyaSans-ThinItalic';
	src: local('AlegreyaSans-ThinItalic'), local('AlegreyaSans-ThinItalic'),
		url('../fonts/AlegreyaSans-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}