$white: #ffffff;
$title: #0d0d0d;
$grey: #666666;
$black: #323232;
$green: #0f5a47;

$regular: 'AlegreyaSans-Regular', 'Arial', sans-serif;
$bold: 'AlegreyaSans-Bold', 'Arial', sans-serif;
$extra: 'AlegreyaSans-ExtraBold', 'Arial', sans-serif;
$light: 'AlegreyaSans-Light', 'Arial', sans-serif;
$medium: 'AlegreyaSans-Medium', 'Arial', sans-serif;

$tablets: 768px;
$phones: 480px;
$phones-small: 320px;